{% extends 'core/base.html' %}

{% block title %}
    App Cliente
{% endblock title %}

{% block content_title %}
    Clientes
{% endblock content_title %}

{% block content %}

    {% for cliente in clientes %}
        <h2>{{ cliente.apellido }}</h2>
        <p> {{ cliente.nombre }} </p>
        {% if cliente.nacimiento %}
            <p> {{ cliente.nacimiento }} </p>
        {% endif %}
        {% if cliente.pais_origen_id %}
            <p> {{ cliente.pais_origen_id }} </p>
        {% endif %}
    {% endfor %}


    <a href="{% url 'core:home' %}">Ir al menú principal</a>
{% endblock content %}